.Data_area {
  width: 100%;
  height: auto;
  padding: 5vh;
  margin: auto;
}
.Data_area .Data_flex {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.Data_area .Data_flex .Data_box {
  width: 20%;
  margin: 3vh;
}
.Data_area .Data_flex .Data_box .Data_heading {
  color: #00609c;
  width: 100%;
}
.Data_area .Data_flex .Data_box .Data_link {
  font-weight: bold;
  color: #c017a2;
}

@media screen and (max-width: 1326px) {
  .Data_area {
    width: 65%;
  }
  .Data_area .Data_flex {
    width: 100%;
  }
  .Data_area .Data_flex .Data_box {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .Data_area {
    width: 90%;
  }
}