@import "../../Variables/variables.scss";

.Data_area {
  width: 100%;
  height: auto;
  padding: 5vh;
  margin: auto;

  .Data_flex {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;

    .Data_box {
      width: 20%;
      margin: 3vh;

      .Data_heading {
        color: $spruce-primary;
        width: 100%;
      }

      .Data_link {
        font-weight: bold;
        color: $bright-plum-secondary;
      }
    }
  }
}

@media screen and (max-width: 1326px) {
  .Data_area {
    width: 65%;

    .Data_flex {
      width: 100%;

      .Data_box {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .Data_area {
    width: 90%;
  }
}
