nav {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 0 150px;
}

.search {
  border: 1px solid #000;
  overflow: auto;
  border-radius: 2em;
  margin: 1vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: block;
}

.search input[type=text] {
  border: 0px;
  width: 67%;
  padding: 1em;
}

.search input[type=text]:focus {
  outline: 0;
}

.search button[type=submit] {
  border: 0px;
  background: none;
  color: #fff;
  float: right;
  padding: 10px;
  cursor: pointer;
}

.IconMobile {
  display: none;
}

@media screen and (max-width: 1326px) {
  .search {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }

  .Navbar {
    display: none;
  }

  .IconMobile {
    display: block;
    margin: 0vh 4vh;
    font-size: 2em;
    cursor: pointer;
  }
}