@import "../../Variables/variables.scss";

footer {
  width: 100%;
  height: 100%;
  background-color: $spruce-primary;
  padding: 5vh 20vh;

  .Footer_logo {
    width: 14vh;
    height: auto;
    margin: 0vh 2vh;
  }

  .footer_links {
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5.5vh 0vh 0vh 10vh;
    text-decoration: none;

    .Footer_link {
      transition: 0.2s ease-in-out;
      color: $white;

      &:hover {
        color:$grey-hover;
      }
    }

    .footer_vLine {
      border-left: 0.1vh solid $white;
      height: 2vh;
      margin: 1vh;
    }
  }

  .Copy_allRights {
    color: $white;
    width: 19vw;
    height: auto;
    text-align: right;
    line-height: 1.8;
    float: right;
    margin: 3vh 0vh 0vh 0vh;

    .Leo_corporate {
      text-decoration: underline;
      margin: 2vh 0vh 0vh 0vh;
      transition: 0.2s ease-in-out;
      color: $white;

      &:hover {
        color: $grey-hover;
      }
    }
  }
}

//Responsive ----------------------
@media screen and (max-width: 1326px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0%;

    .Footer_logo {
      margin: 3vh 0vh;
    }

    .Copy_allRights {
      width: 100%;
      line-height: 1;
      text-align: center;
      margin: 0vh 0vh 4vh 0vh;
    }

    .footer_links {
      margin: 0vh 0vh 5vh 0vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .footer_vLine {
        border-left: none;
        border-top: 0.1vh solid $white;
        width: 2vh;
        margin: 0.2vh 0vh;
      }
    }
  }
}
