footer {
  width: 100%;
  height: 100%;
  background-color: #00609c;
  padding: 5vh 20vh;
}
footer .Footer_logo {
  width: 14vh;
  height: auto;
  margin: 0vh 2vh;
}
footer .footer_links {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5.5vh 0vh 0vh 10vh;
  text-decoration: none;
}
footer .footer_links .Footer_link {
  transition: 0.2s ease-in-out;
  color: #fff;
}
footer .footer_links .Footer_link:hover {
  color: #ccc;
}
footer .footer_links .footer_vLine {
  border-left: 0.1vh solid #fff;
  height: 2vh;
  margin: 1vh;
}
footer .Copy_allRights {
  color: #fff;
  width: 19vw;
  height: auto;
  text-align: right;
  line-height: 1.8;
  float: right;
  margin: 3vh 0vh 0vh 0vh;
}
footer .Copy_allRights .Leo_corporate {
  text-decoration: underline;
  margin: 2vh 0vh 0vh 0vh;
  transition: 0.2s ease-in-out;
  color: #fff;
}
footer .Copy_allRights .Leo_corporate:hover {
  color: #ccc;
}

@media screen and (max-width: 1326px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0%;
  }
  footer .Footer_logo {
    margin: 3vh 0vh;
  }
  footer .Copy_allRights {
    width: 100%;
    line-height: 1;
    text-align: center;
    margin: 0vh 0vh 4vh 0vh;
  }
  footer .footer_links {
    margin: 0vh 0vh 5vh 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer_links .footer_vLine {
    border-left: none;
    border-top: 0.1vh solid #fff;
    width: 2vh;
    margin: 0.2vh 0vh;
  }
}