@import "../../Variables/variables.scss";

.ClinicalTools_area {
  width: 100%;
  height: auto;
  padding: 10vh 0vh;
}

.ClinicalTools_colunm {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: auto;

  .ClinicalTools_heading {
    font-size: 2.5vh;
    margin: 2vh;
    color: $spruce-primary;
  }

  .ClinicalTools_boxFlex {
    display: flex;
    align-content: space-between;

    .ClinicalTools_box {
      width: 80vh;
      height: auto;
      margin: 0vh 2vh;
      background-color: $light-grey;

      .ClinicalTools_img {
        width: 100%;
        height: auto;
      }
      .ClinicalTools_text {
        margin: 2.5vh;

        .ClinicalTools_secondaryHeading {
          color: $spruce-primary;
        }

        .ClinicalTools_breadText {
          margin: 1.5vh 0vh;
        }

        .ClinicalTools_link {
          color: $bright-plum-secondary;
          font-weight: bold;
        }
      }
    }
  }
}

//Responsive ----------------------
@media screen and (max-width: 1326px) {
  .ClinicalTools_colunm {
    width: 90%;

    .ClinicalTools_boxFlex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .ClinicalTools_box {
        width: 60%;
        margin: 1.5vh 0vh;
      }
    }
  }
}
