@import "../../../Variables/variables.scss";

.Video_Btn {
  border: none;
  width: 10em;
  height: auto;
  padding: 1em;
  background-color: $bright-plum-secondary;
  color: $white;
  font-weight: 600;
  font-size: 1.3em;
  text-align: center;
  border-radius: 20vh;
  margin: 2vh;
  transition: ease-in-out 0.5s;
  cursor: pointer;

  &.Video_Btn:hover {
    background-color: $bright-plum-hover;
    transition: ease-in-out 0.2s;
  }
}
